# ===== Python / FastAPI (backend) =====
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.sqlite3
.pytest_cache/
.mypy_cache/

# ===== Variables de entorno / secretos =====
.env
.env.*
!.env.example

# ===== Flutter / Dart (app móvil) =====
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/build/
app/ios/Pods/
app/android/.gradle/
app/**/*.iml

# ===== Docker =====
*.log
docker-compose.override.yml

# ===== Editor / SO =====
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===== Base de datos local =====
*.db
pgdata/
